html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: lightgreen;
}

/* Practical2.styles.css */
Table th {
    background-color: darkgreen !important; /* Green background for the header */
    color: black; /* White text */
    font-weight: bold; /* Bold font */
    padding: 10px; /* Padding inside the header cells */
    text-align: center; /* Center-align the text */
    border: 1px solid #ddd; /* Optional: Border around the header cells */
}
 btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px; /* Large value to remove corners */
    cursor: pointer;
    font-size: 16px;
}